<mat-tab-group dynamicHeight>
    <mat-tab label="Mis Alumnos">
      <div class="example-small-box mat-elevation-z4">
        Small content
      </div>
    </mat-tab>

<!-- -------------------------------------------------------- -->

    <mat-tab label="Eventos">
      <div class="example-large-box mat-elevation-z4">
        
      </div>
    </mat-tab>

<!-- -------------------------------------------------------- -->

    <mat-tab label="Estadísticas">
        <div class="example-large-box mat-elevation-z4">
          Large content
        </div>
      </mat-tab>
  </mat-tab-group>
  
