.example-small-box, .example-large-box {
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin: 16px; */
    /* padding: 16px; */
    border-radius: 8px;
    height: 100%;
  }

  #divBarChart{
    max-width: 100%;
  }
  #container-crear-evento{
    padding: 20px;
  }
  #fecha-input{
    margin: 10px;
  }

  .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.user-info {
    display: flex;
    justify-content: space-evenly;
  }


.card-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card{
    width: 70%;

}
.margin-top{
    display: flex;
    width: 90%;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}