.momCard{
    margin: 10px;
}


.sonCard{
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.sonCard2{
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.grandSon2{
    display: flex;
    flex-direction: column;
}
.event-card{
    padding: 20px;
    border-radius:25px ;
    /* width: 100%; */

}

.event-card-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #F1F1F1;
    /* width: 100%; */
}
.event-card-container-son{
    width: 70%;
}
.event-title{
    text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5), 2px 2px 4px rgba(255,37,7,0.9);
}
.div-titile-card{
    width: 100%;
    background-color: #000000;
    border-radius:15px ;
    color: white;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    word-wrap: break-word;
}