.content{
    padding:32px;
}
.toggler-container{
    height:100%;

}
#sidenav{
}
.upper-navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
    background-color: #000000;
    color: white;
}
.panel-list{
    width: 100%;
}