<div
  class="form-container mat-elevation-z5 text-center"
  *ngIf="user$ | async as user"
>
  <!-- <input #inputField hidden type="file" (change)="uploadFile($event, user)" /> -->

  <form class="margin-top" [formGroup]="profileForm" (ngSubmit)="saveProfile()">
    <h1>Perfil</h1>

      <mat-form-field>
        <input
          type="text"
          matInput
          formControlName="firstName"
          placeholder="Nombre"
        />
      </mat-form-field>
      <mat-form-field>
        <input
          type="text"
          matInput
          formControlName="lastName"
          placeholder="Apellido/s"
        />
      </mat-form-field>

      <mat-form-field>
        <input
          type="text"
          matInput
          formControlName="displayName"
          placeholder="Nombre de usuario"
        />
      </mat-form-field>
      <mat-form-field>
        <input
          type="text"
          matInput
          formControlName="phone"
          placeholder="Telefono"
        />
      </mat-form-field>

      <mat-form-field>
        <input
          type="text"
          matInput
          formControlName="address"
          placeholder="Dirección"
        />
      </mat-form-field>


    <button type="submit" class="margin-top" mat-raised-button color="primary">
      Save
    </button>
  </form>
</div>